h2#title-page {
    margin: 12px 0 0 14px;
    color: black;
}

a.navbar-brand {
    font-family: 'Cutive Mono', monospace;
    font-size: 28px;
    font-weight: 200;
}

a.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

div#navbarNav {
    width: 100%;
    text-align: center;

}
