body {
    background-color: #fff5f8;
}

h2#title-page {
    margin: 12px 0 0 14px;
    color: black;
}

a.navbar-brand {
    font-family: 'Cutive Mono', monospace;
    font-size: 28px;
    font-weight: 200;
}

a.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

div#navbarNav {
    width: 100%;
    text-align: center;

}

.navbar.top {
    background-color:white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

/*--------------------------------

       BOTTOM NAV

--------------------------------*/

nav.navbar.bot {
    background-color: white;
    padding-top: 25px;
    border-top:1px solid rgba(0, 0, 0, 0.08);
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    /*display:none;*/
}


nav.navbar ul {
    list-style-type: none;
    font-size: 19px;
    padding-left: 0;
}

.links ul li a {
    color:black;
}

.links ul li a:hover {
    color:pink;
    text-decoration: none;
}

.row {
    width:100%;
}

#love {
    text-align: center;
}

nav.navbar.navbar-expand-lg {
    background-color: white;
}

/*--------------------------------

               ICONS

--------------------------------*/

.logo {
    text-align: right;
}

.logo ul {
    display: flex;
    justify-content: flex-end;
}

.logo ul li {
    padding: 0 5px;
}

.icons {
    width:40px;
}

div.col.logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

p#love {
    font-size: 12px;
}


/*--------------------------------

            BUTTONS

--------------------------------*/

a.btn.btn-primary {
    color: #fff;
    background-color: #e47a72;
    border-color: #ffffff;
    margin: 10px auto;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
}

a.btn.btn-primary:hover, a.btn.btn-primary:active{
    background-color: #a5a5a5;
    border-color: #ffffff;
}


@media only screen and (max-width: 800px) {
    nav.navbar.navbar-light.bg-faded.bot {
        height: 239px;
    }

    nav div.row {
        height: 80px;
    }

    nav div.container {
        height:100px;
    }

    div.made-with-love {
        padding-top: 20px;
    }

}
