body {
    background-image: url("personal.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#heading-container {
}

h1#main-heading {
    font-size: 57px;
    font-family: 'Homemade Apple', cursive;
    color: black;
}

h3#sub-heading {
    font-family: 'Cutive Mono', monospace;
}

/*--------------------------------

       MY PICTURE

--------------------------------*/

div#my-photo-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

img#my-photo {
    border-radius: 20px;
    margin: 15px auto;
}

div#landing-block {
    width: 100%;
    background: rgba(39, 39, 39, 0.42);
}

/*--------------------------------

       MY PICTURE SUBTITLE

--------------------------------*/

div#my-photo-subtitle {
    text-align: center;
    color: #dedddd;
    font-family: 'Raleway Dots', cursive;
    background: rgb(150, 146, 146);
    padding: 5px 0;
    border-top: 1px dashed black;
}

}

div#my-photo-subtitle p {
    font-size: 18px;
    font-style: italic;
}

div#my-photo-subtitle h1 {
    margin: 0.50em 0;
    font-weight: bold;

}


/*--------------------------------

       THE THREE DIVS

--------------------------------*/

div#the-three-divs {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

div.main {
    border: 20px solid rgba(255, 192, 203, 0.23);
    border-radius: 15px;
    background-color: white;
    width: 30%;
    height: 350px;
    margin: 40px 15px 5px 15px;
    text-align: center;
    font-style: italic;
    opacity: .9;
    min-width: 250px;
    position: relative;
}

div.main:hover {
    opacity: 1;
}

div.main h2 {
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    margin-top: 15px;
}

div.main p {
    margin-top: 15px;
}

div#inner-create-div {
    padding: 15px;
    display: none;
}

div#inner-design-div {
    padding: 15px;
    display: none;
}

div#inner-innovate-div {
    padding: 15px;
    display: none;
}

@media only screen and (max-width: 540px) {
    div.main {
        margin: 20px auto;
        width: 80%;
        border: 10px solid rgba(255, 192, 203, 0.23);
        font-size: 12px;
    }

    img#my-photo {
        height: 280px;
    }

    div#the-three-divs {
        display: flex;
        flex-direction: column-reverse;
    }

    div#inner-design-div, div#inner-create-div, div#inner-innovate-div {
        display: block;
    }


}



