body {
    background-image: url("personal.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#heading-container {
}

h1#main-heading {
    font-size: 57px;
    font-family: 'Homemade Apple', cursive;
    color: black;
}

h3#sub-heading {
    font-family: 'Cutive Mono', monospace;
}

/*--------------------------------

       MY PICTURE

--------------------------------*/

div#my-photo-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

img#my-photo {
    border-radius: 20px;
    margin: 15px auto;
}

div#landing-block {
    width: 100%;
    background: rgba(39, 39, 39, 0.42);
}

/*--------------------------------

       MY PICTURE SUBTITLE

--------------------------------*/

div#my-photo-subtitle {
    text-align: center;
    color: #dedddd;
    font-family: 'Open Sans Condensed', sans-serif;
    background: rgb(150, 146, 146);
    padding: 5px 0;
    border-top: 1px dashed #00000059;
}

div#my-photo-subtitle p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

div#my-photo-subtitle h1 {
    margin: 0.50em 0;
}

a.btn.btn-default {
    color: #fff;
    border-color: #ffffff;
    margin: 10px auto;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #eccdcd;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    line-height: 33px;
}

a.btn.btn-default:hover {
    background-color: #e47a72;
    border-color: #ffffff;
}



/*--------------------------------

       THE THREE DIVS

--------------------------------*/

div#the-three-divs {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 80px;
}

div.main {
    border: 20px solid rgba(255, 192, 203, 0.23);
    border-radius: 15px;
    background-color: white;
    width: 30%;
    height: 343px;
    margin: 40px 15px 5px 15px;
    text-align: center;
    font-style: italic;
    opacity: .9;
    min-width: 250px;
    position: relative;
}

div.main:hover {
    opacity: 1;
}

div.main h2 {
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    margin-top: 15px;
}

div.main p {
    margin-top: 15px;
}

div#inner-design-div {
    padding: 25px;
    display: none;
}

div#inner-create-div {
    padding: 25px;
    display: none;
}

div#inner-innovate-div {
    padding: 25px;
    display: none;
}

img.icon {
    width:80%;
}

/*--------------------------------

       ICONS

--------------------------------*/




nav.navbar.bot {
    /*bottom: -490px;*/
}


@media only screen and (max-width: 540px) {
    div.main {
        margin: 20px auto;
        width: 80%;
        border: 10px solid rgba(255, 192, 203, 0.23);
        font-size: 12px;
    }

    img#my-photo {
        height: 280px;
    }

    div#the-three-divs {
        display: flex;
        flex-direction: column;
    }

    div#inner-design-div, div#inner-create-div, div#inner-innovate-div {
        display: block;
    }


}

@media only screen and (max-width: 935px) {
    div#the-three-divs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.main {
        width: 63%;
    }

}

@media only screen and (min-width: 935px) {
    div#landing-block {
        display:flex;
        width: 80%;
        margin: 25px auto;
        min-width: 940px;
        background-color: rgba(171, 164, 164, 0);
    }

    div#my-photo-holder {
        width: 50%;
    }

    div#my-photo-subtitle {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px dashed black;
        margin: 15px 30px;
        border-radius: 40px;
    }

    div#subtitle-holder {
        width: 100%;
        margin-right: 5px;
    }

    div#subtitle-holder h1 {
        font-size: 50px;
    }

}

@media only screen and (max-width: 370px) {
    div.col.links {
        display: flex;
        justify-content: flex-end;
    }

    div.main {
        width: 63%;
    }


}


