body {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    text-align: center;
}

div#about-content {
    width: 95%;
    border: 1px dashed black;
    height: 650px;
    margin: 30px auto;
    border-radius: 20px;
}

@media only screen and (max-width: 370px) {
    div.col.links {
        display: flex;
        justify-content: flex-end;
    }
}

