body {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    text-align: center;
}

div#about-content {
    width: 38%;
    border: 1px dashed black;
    height: 650px;
    margin: 30px auto;
    border-radius: 20px;
}

div#about-content {
    font-size: 15px;
    background-color: white;
    width: 80%;
}

p {
    text-align: center;
}

a {
    color: pink;
}

#about-picture {
    width:513px;
}

a:hover {
    color: grey;
    text-decoration: none;
}

@media only screen and (max-width: 370px) {
    div.col.links {
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 500px) {

    p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 950px) {
    #about-picture {
        width: 74%;
    }
}


